flow1.json
[{"id":"35d50777.5542a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5edbf667.0165c8","type":"inject","z":"35d50777.5542a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":500,"wires":[["f372dc9b.7a99d"]]},{"id":"2ffda935.6b8136","type":"exec","z":"35d50777.5542a8","command":"python3 /home/pi/Documents/pqi/coef_pqi.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fliker","x":330,"y":980,"wires":[[],[],[]]},{"id":"e57df83e.8e67d8","type":"ui_text_input","z":"35d50777.5542a8","name":"","label":"L. Linea","tooltip":"Inductancia de Linea","group":"de632815.772fa8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":580,"y":120,"wires":[["7240599c.fcded8"]]},{"id":"10645620.0e3a7a","type":"ui_text_input","z":"35d50777.5542a8","name":"","label":"R. Linea","tooltip":"Resistencia de Linea","group":"de632815.772fa8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":590,"y":60,"wires":[["5c5ce7d0.8a5ef8"]]},{"id":"d5c7da56.5f7fb8","type":"ui_text_input","z":"35d50777.5542a8","name":"","label":"P. Linea","tooltip":"Potencia de Linea","group":"de632815.772fa8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":580,"y":180,"wires":[["148c058f.a1e76a"]]},{"id":"5c5ce7d0.8a5ef8","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"res","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":60,"wires":[[]]},{"id":"7240599c.fcded8","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"ind","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":120,"wires":[[]]},{"id":"148c058f.a1e76a","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"pot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":180,"wires":[[]]},{"id":"cff76979.a62e28","type":"ui_button","z":"35d50777.5542a8","name":"","group":"de632815.772fa8","order":3,"width":0,"height":0,"passthru":false,"label":"Calcular","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":300,"wires":[["468c1f43.5dabe"]]},{"id":"468c1f43.5dabe","type":"function","z":"35d50777.5542a8","name":"","func":"res=flow.get('res')\nind=flow.get('ind')\npot=flow.get('pot')\n\n\nskfic=Math.pow(220,2)/(Math.sqrt(Math.pow(res,2)+Math.pow(2*Math.PI*50*ind,2)))\nrcc=skfic/pot\nang=180/Math.PI*Math.atan(2*Math.PI*50*ind/res)\n\nflow.set('skfic',skfic.toFixed(2))\nflow.set('rcc',rcc.toFixed(2))\nflow.set('ang',ang.toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":300,"wires":[["e0f7f8db.200858","c5639567.6a8d98","2fa536d.091beca","20563fe.240f1c","3c4ea67a.26de7a"]]},{"id":"b793aa89.a341f8","type":"ui_text","z":"35d50777.5542a8","group":"de632815.772fa8","order":4,"width":0,"height":0,"name":"","label":"RCC","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":220,"wires":[]},{"id":"1932acc1.2a19a3","type":"ui_text","z":"35d50777.5542a8","group":"de632815.772fa8","order":5,"width":0,"height":0,"name":"","label":"Angulo","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":300,"wires":[]},{"id":"e0f7f8db.200858","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ang","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["b793aa89.a341f8"]]},{"id":"c5639567.6a8d98","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"rcc","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["1932acc1.2a19a3"]]},{"id":"f372dc9b.7a99d","type":"exec","z":"35d50777.5542a8","command":"python3 /home/pi/Documents/pqi/pqi_fft.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":500,"wires":[["b033c8b0.85d1e8","80e8d3f2.6f21d"],[],[]]},{"id":"73ef148.1b889ec","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":580,"wires":[["5157fd53.1027e4"]]},{"id":"5157fd53.1027e4","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Estampa Tiempo","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":580,"wires":[]},{"id":"b033c8b0.85d1e8","type":"json","z":"35d50777.5542a8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":500,"wires":[["73ef148.1b889ec","29e2d802.c971d8","d4944ece.6126e","e1548638.638868","3d80f37.29a7c0c","8b45fde2.8424d","4efc2d8d.743a34","54377123.c94f9","9a6c1299.e6071","b377746e.109508","e9bdd984.a27158","55d6dfff.60ecd","174094c0.debacb","778f41f9.72aa2","81d23ad6.4d32c8","2b5fd1ba.da435e","799a7a99.3bb6e4"]]},{"id":"6802aea4.4ff78","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"I rms 1ra armonica","format":"{{msg.payload | number:2}}","layout":"row-spread","x":390,"y":820,"wires":[]},{"id":"c84a0f8b.5a478","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Vel Viento promedio","format":"{{msg.payload | number:2}}","layout":"row-spread","x":400,"y":620,"wires":[]},{"id":"f1914aa3.c1e5e8","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Vel viento mediana","format":"{{msg.payload | number:2}}","layout":"row-spread","x":390,"y":660,"wires":[]},{"id":"ecb23daa.e6166","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Vel viento STD","format":"{{msg.payload | number:2}}","layout":"row-spread","x":380,"y":700,"wires":[]},{"id":"3e7360bc.91d85","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Frecuencia","format":"{{msg.payload | number:2}}","layout":"row-spread","x":370,"y":740,"wires":[]},{"id":"2617072f.74d518","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"V rms 1ra armonica","format":"{{msg.payload | number:2}}","layout":"row-spread","x":390,"y":780,"wires":[]},{"id":"37989c36.205a74","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"I rms poli armonica","format":"{{msg.payload | number:2}}","layout":"row-spread","x":390,"y":900,"wires":[]},{"id":"76903412.8192fc","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"V rms poli armonica","format":"{{msg.payload | number:2}}","layout":"row-spread","x":400,"y":860,"wires":[]},{"id":"24665ef3.1a7de2","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"THD V","format":"{{msg.payload | number:2}}","layout":"row-spread","x":870,"y":580,"wires":[]},{"id":"9fbf7612.5a5288","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"THD I","format":"{{msg.payload | number:2}}","layout":"row-spread","x":870,"y":620,"wires":[]},{"id":"3813ae06.e86c42","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"I DC","format":"{{msg.payload | number:2}}","layout":"row-spread","x":870,"y":660,"wires":[]},{"id":"9eb2cc7d.9570b","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Pot. Activa","format":"{{msg.payload | number:2}}","layout":"row-spread","x":890,"y":700,"wires":[]},{"id":"8f87fb50.1f57e8","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Pot. Reactiva","format":"{{msg.payload | number:2}}","layout":"row-spread","x":890,"y":740,"wires":[]},{"id":"1cbd1d7f.2e1cb3","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Pot. Aparente","format":"{{msg.payload | number:2}}","layout":"row-spread","x":900,"y":780,"wires":[]},{"id":"eaf142d6.b0ad4","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Factor de Pot.","format":"{{msg.payload | number:2}}","layout":"row-spread","x":900,"y":820,"wires":[]},{"id":"581574cc.edeeec","type":"ui_text","z":"35d50777.5542a8","group":"6a78b9b6.ad20a8","order":0,"width":0,"height":0,"name":"","label":"Pot. de Desformacion","format":"{{msg.payload | number:2}}","layout":"row-spread","x":920,"y":860,"wires":[]},{"id":"e9bdd984.a27158","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.IDC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":660,"wires":[["3813ae06.e86c42"]]},{"id":"b377746e.109508","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.THDi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":620,"wires":[["9fbf7612.5a5288"]]},{"id":"9a6c1299.e6071","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.THDu","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":580,"wires":[["24665ef3.1a7de2"]]},{"id":"29e2d802.c971d8","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vprom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":620,"wires":[["c84a0f8b.5a478"]]},{"id":"d4944ece.6126e","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vmediana","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":660,"wires":[["f1914aa3.c1e5e8"]]},{"id":"e1548638.638868","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vstd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":700,"wires":[["ecb23daa.e6166"]]},{"id":"799a7a99.3bb6e4","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.freq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":740,"wires":[["3e7360bc.91d85"]]},{"id":"3d80f37.29a7c0c","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Urms","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":780,"wires":[["2617072f.74d518"]]},{"id":"8b45fde2.8424d","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Irms","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":820,"wires":[["6802aea4.4ff78"]]},{"id":"4efc2d8d.743a34","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.UrmsPoli","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":860,"wires":[["76903412.8192fc"]]},{"id":"54377123.c94f9","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.IrmsPoli","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":900,"wires":[["37989c36.205a74"]]},{"id":"174094c0.debacb","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Preac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":740,"wires":[["8f87fb50.1f57e8"]]},{"id":"778f41f9.72aa2","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Papar","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":780,"wires":[["1cbd1d7f.2e1cb3"]]},{"id":"81d23ad6.4d32c8","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.FactPot","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":820,"wires":[["eaf142d6.b0ad4"]]},{"id":"2b5fd1ba.da435e","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Pdesf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":860,"wires":[["581574cc.edeeec"]]},{"id":"55d6dfff.60ecd","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Pact","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":700,"wires":[["9eb2cc7d.9570b"]]},{"id":"2fa536d.091beca","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pot","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["d5c7da56.5f7fb8"]]},{"id":"20563fe.240f1c","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ind","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[["e57df83e.8e67d8"]]},{"id":"3c4ea67a.26de7a","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"res","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":60,"wires":[["10645620.0e3a7a"]]},{"id":"3b57c852.eaa8a8","type":"inject","z":"35d50777.5542a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1060,"wires":[["7b8a5892.272888"]]},{"id":"7b8a5892.272888","type":"exec","z":"35d50777.5542a8","command":"python3 /home/pi/Documents/pqi/test_nodered.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":1060,"wires":[["414d1c08.2a64f4"],[],[]]},{"id":"4272ce06.1c8a9","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1140,"wires":[["8a2a73.e4b5e59"]]},{"id":"8a2a73.e4b5e59","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"Estampa Tiempo","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1140,"wires":[]},{"id":"414d1c08.2a64f4","type":"json","z":"35d50777.5542a8","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1060,"wires":[["4272ce06.1c8a9","9669b03f.723b1","9e9c91cd.541","41b4de3f.d86a9","92223fb8.1b5a9","7d80d7d0.483c08","8e1908c3.e915d8","f354b601.a6cd08","8407b1c.2752d5"]]},{"id":"8b6c6d95.cb89b","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"I rms","format":"{{msg.payload | number:2}}","layout":"row-spread","x":370,"y":1380,"wires":[]},{"id":"410b9317.1403cc","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"Vel Viento promedio","format":"{{msg.payload | number:2}}","layout":"row-spread","x":420,"y":1180,"wires":[]},{"id":"6841bd44.e40c04","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"Vel viento mediana","format":"{{msg.payload | number:2}}","layout":"row-spread","x":410,"y":1220,"wires":[]},{"id":"80735752.f26818","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"Vel viento STD","format":"{{msg.payload | number:2}}","layout":"row-spread","x":400,"y":1260,"wires":[]},{"id":"cadab446.057a18","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"PST","format":"{{msg.payload | number:2}}","layout":"row-spread","x":370,"y":1300,"wires":[]},{"id":"e201cb51.6e1878","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"V rms","format":"{{msg.payload | number:2}}","layout":"row-spread","x":370,"y":1340,"wires":[]},{"id":"aeaa250d.33f268","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"Angulo","format":"{{msg.payload | number:2}}","layout":"row-spread","x":380,"y":1460,"wires":[]},{"id":"c4e00710.d2be58","type":"ui_text","z":"35d50777.5542a8","group":"db68b191.aff08","order":0,"width":0,"height":0,"name":"","label":"RCC","format":"{{msg.payload | number:2}}","layout":"row-spread","x":370,"y":1420,"wires":[]},{"id":"9669b03f.723b1","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vprom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1180,"wires":[["410b9317.1403cc"]]},{"id":"9e9c91cd.541","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vmediana","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1220,"wires":[["6841bd44.e40c04"]]},{"id":"41b4de3f.d86a9","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vstd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1260,"wires":[["80735752.f26818"]]},{"id":"8407b1c.2752d5","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pst","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1300,"wires":[["cadab446.057a18"]]},{"id":"92223fb8.1b5a9","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vrms","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1340,"wires":[["e201cb51.6e1878"]]},{"id":"7d80d7d0.483c08","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.irms","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1380,"wires":[["8b6c6d95.cb89b"]]},{"id":"8e1908c3.e915d8","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rcc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1420,"wires":[["c4e00710.d2be58"]]},{"id":"f354b601.a6cd08","type":"change","z":"35d50777.5542a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ang","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1460,"wires":[["aeaa250d.33f268"]]},{"id":"80e8d3f2.6f21d","type":"debug","z":"35d50777.5542a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":440,"wires":[]},{"id":"de632815.772fa8","type":"ui_group","name":"Datos","tab":"8df10dc2.e66be","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a78b9b6.ad20a8","type":"ui_group","name":"Valores","tab":"b23a0dd9.e711c","order":1,"disp":true,"width":"6","collapse":false},{"id":"db68b191.aff08","type":"ui_group","name":"Valores","tab":"8df10dc2.e66be","order":2,"disp":true,"width":"6","collapse":false},{"id":"8df10dc2.e66be","type":"ui_tab","name":"Fliker","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b23a0dd9.e711c","type":"ui_tab","name":"Potencia","icon":"dashboard","order":2,"disabled":false,"hidden":false}]